* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto ;
}

.bgImage {
    background-image: url('https://s3.amazonaws.com/efdcartao.public/public/img/bg-login-efdcartao.jpg');
}

.cabecalho {
    text-align: center!important;
    margin-bottom: 3rem!important;
}

.imgLogo {
    margin-bottom: 1rem!important;
    height: 70;
}